$body-BG: #fffda0;
$link-color: #01c4be;
$link-color-hover: #125553;

$font-menu: 'Crimson', Times, Serif;
$font-bold: 600;


body{
    margin:0;
    padding:0;
    background-color: $body-BG;
}
.container-fluid{
    margin: 0;
    padding:0;
}
.confinedRow{
    max-width:1040px;
    margin: 0;
    padding:0;
}
.col-md{
    margin: 0;
    padding:0;
}
.col-sm{
    margin: 0;
    padding:0;
}
.row{
    margin: 0 auto;
    padding:0;
    width:100%;
}
.navbar {
    margin:0 auto;
    padding:8px;
    float:right;
}
.float-Right {
    float:right;
}
.nav-item{
    padding-right:22px;
    padding-left:22px;
    border: solid 1px $link-color;
    margin:5px;
}
.nav-item:hover{
    background-color: $link-color-hover;
}
.nav-item > a {
    color: $link-color;
    font-weight: $font-bold;
    font-family: $font-menu;
    font-size: 1.2em;
}
.nav-item > a:active{
}
.nav-item > a:hover{
    text-decoration: none;
}


@media (max-width: 400px){
    .header-Image {
        max-width:100%;
    }
}