block navbar-header
    div.container-fluid
        div.row.confinedRow
            div.col-md
                img(src="images/header_image_cb1.png")
            div.col-md
                div.row
                div.row